{% for file in files %}
<tr>
    <td class="col-2">{{ loop.index }}</td>
    <td class="col-6">{{ file.description }}</td>
    <td class="col-2">{{ file.created_at|datetimeformat }}</td>
    <td class="col-2">
        <a href="{{ url_for('download_file', filepath=file.url) }}">Download</a>
    </td>
    <td>
        <a 
            class="text-danger"
            hx-post="{{ url_for('delete_processed_files', id=file.id) }}" style="cursor: pointer;">
            Delete
        </a>
    </td>
</tr>
{% endfor %}

